*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
:root{
    --primary-color:rgb(36, 40, 66);
    --primary-gradient: linear-gradient(to right, #272780de 0%, #3b3256 100%); 
    --primary-gradient-hover: linear-gradient(to right,   #3b3256 0%, #272780de 100%); 
   --bar-width:2rem;
   --bar-height:.3rem;
   --hambarger-gap:.4rem;
   --animation-timing:50ms ease-in-out;

}

.top-header{
    color: white;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.top-header .wrapper{
    padding: 0 3rem;
    height: 5rem;
    max-width: 120rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header .nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}
.top-header .nav-left h1{
    font-size: 2.5rem;
}
.top-header .nav-right {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
   }
   
.top-header .nav-right a{
 color: white;
 font-size: 1.3rem;
 text-decoration: none;
}



/* main */
main{
    padding: 0 3rem;
    max-width: 1200px;
    margin: auto;
}
main nav{
    margin: 20px 0;
}
main nav ul{
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    gap: 1rem;
}
.cuurent-page{
    font-size: 1.3rem;
    color: var(--primary-gradient);
}
.container main header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.container main header h1{
    margin-right:1rem ;

 }
.search-container{
    display: flex;
    gap: 1rem;
}
.search-container input[type="text"]{
    border: none;
    height: 100%;
    outline: none;
 border-radius: 4px;

}
.search-container input[type="text"]::placeholder{
font-size: 1rem;
color: var(--primary-color);
}
.search-bar{
    position: relative;
 border: 1px solid;
 border-radius: 4px;

}
.search-bar i{
    position: absolute;
    padding: .5rem;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    right: 0;
    z-index: 10;
    color: white;
    background-color: var(--primary-color);
    height: 100%;
    width: 2rem;
    text-align: center;
     vertical-align: middle;
}
 
.gradient-btn{
    background: var(--primary-gradient);
    border: none;
    border-radius: .4rem;
    outline: none;
    color: white;
    padding: 5px;
    transition: all 300ms;
}
.gradient-btn:hover{
    background: var(--primary-gradient-hover);
}
.table-container table{
    width: 100%;
    border-collapse: collapse; 
    font-size:1.3rem;
}
/* Zebra striping */
.table-container table tbody tr:nth-of-type(even) { 
  background: rgb(239, 239, 239); 
}
th { 
  background: var(--primary-color); 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  text-align: left;
  transition: all 300ms; 
}

.table-container table tr:hover td{
    background-color: rgba(132, 132, 255, 0.2)
}
 .cuurent-page{
    color: blue;
 }
/* ////
 */

 .fa:before {
     margin-right: 0.5rem;
}

.hambarger{
display: flex;
flex-direction: column;
gap: var(--hambarger-gap);
/* background-color:;  */
width: max-content;
 
top: 1.5rem;
left: 2rem;
z-index: 10;
cursor: pointer;
}
.hambarger::before,
.hambarger::after,
.hambarger input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: white;
    transition: all var(--animation-timing);
    transform-origin: left center;
}
.hambarger input{
    appearance: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    outline: none;
}
.hambarger:has(input:checked)::before{
    rotate: 45deg;
}
.hambarger:has(input:checked)::after{
    rotate: -45deg;
}
.hambarger input:checked{
    opacity: 0;
     width: 0;
}
aside{
    opacity: 0;
}
.hambarger:has(input:checked) + aside{
   opacity: 1;
}
/* //
side bar
*/

aside{
    background-color: var(--primary-color);
    height: 50%;
    position: absolute;
    z-index: 9;
    top: 4rem;
    left: 0;
    width: 20rem;
    height: 30rem;
    margin-top: .2rem;
 }
aside ul li{
    list-style: none;
    color: white;
    padding: 10px;
    width: 100%;
 }

 
@media (max-width:500px){
    .container main header {
        flex-direction: column;
        gap: 2rem;
    }
    .search-bar{
        flex-grow: 1;
    }
    .search-bar i{
        width: 4rem;
        font-size: 2rem;
        padding-top: 1rem;
    }
    .search-container input[type="text"]{
        width: 100%;
      
    }
    .search-container input[type="text"]::placeholder{
        font-size:2.2rem;
         }
     html{
        font-size: 5.5px;
     }
     main nav{
        margin: 20px 0;
    }
}